@font-face {
  font-family: "Spoof";
  font-weight: bold;
  src: local("Spoof"),
    url(./fonts/Source_Spoof/Source_Spoof/Spoof-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: local("Montserrat"),
    url(./fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat"),
    url(./fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}

body {
  color: #1b1919;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Montserrat-SemiBold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
